name: CI Checks and Builds
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: |
            accept-flake-config = true
            max-jobs = auto
      - name: Run pre-commit Checks
        run: nix develop --command bash -c "pre-commit run --all-files"

  changes:
    name: Changes
    runs-on: ubuntu-latest
    outputs:
      nixbox: ${{ steps.changes.outputs.nixbox }}
      macbox: ${{ steps.changes.outputs.macbox }}
      nasbox: ${{ steps.changes.outputs.nasbox }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Path filters
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: changes
        with:
          filters: |
            nixbox:
              - flake.nix
              - flake.lock
              - 'home/users/jonas/common.nix'
              - 'home/users/jonas/linux.nix'
              - 'hosts/nixbox/**'
              - 'modules/common/**'
              - 'modules/linux/**'
            nasbox:
              - flake.nix
              - flake.lock
              - 'home/users/root/common.nix'
              - 'home/users/root/ds920p.nix'
              - 'hosts/nasbox/**'
              - 'modules/common/**'
              - 'modules/linux/**'
            macbox:
              - flake.nix
              - flake.lock
              - 'home/users/jonas/common.nix'
              - 'home/users/jonas/darwin.nix'
              - 'hosts/macbox/**'
              - 'modules/common/**'
              - 'modules/darwin/**'

  build-nixbox:
    name: Build nixbox
    runs-on: ubuntu-latest
    needs:
      - pre-commit
      - changes
    if: github.event_name == 'workflow_dispatch' || (needs.pre-commit.result == 'success' && needs.changes.outputs.nixbox == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: |
            accept-flake-config = true
            max-jobs = auto
      - name: Cache Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          useDaemon: true
          name: eana
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      - name: Build nixbox
        run: nix build --print-build-logs ".#nixosConfigurations.nixbox.config.system.build.toplevel"

  build-macbox:
    name: Build macbox
    runs-on: macos-latest
    needs:
      - pre-commit
      - changes
    if: github.event_name == 'workflow_dispatch' || (needs.pre-commit.result == 'success' && needs.changes.outputs.macbox == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: |
            accept-flake-config = true
            max-jobs = auto
      - name: Cache Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          useDaemon: true
          name: eana
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build macbox
        run: nix build --print-build-logs ".#darwinConfigurations.macbox.system"

  build-nasbox:
    name: Build nasbox
    runs-on: ubuntu-latest
    needs:
      - pre-commit
      - changes
    if: github.event_name == 'workflow_dispatch' || (needs.pre-commit.result == 'success' && needs.changes.outputs.nasbox == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: |
            accept-flake-config = true
            max-jobs = auto
      - name: Cache Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          useDaemon: true
          name: eana
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build nasbox
        run: nix build --print-build-logs ".#homeConfigurations.nasbox.activationPackage"
